@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');




* {
   box-sizing: border-box; 
   padding: 0px;
   margin: 0px;
   color: rgb(226, 231, 232);
   background-color: #201f23;

   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: normal;
   font-style: normal;

   font-weight: 400;
   font-style: normal;

  text-decoration: none;
    
}

h1 {
    font-size: 40px;
    color: #d33a32;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


body {
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}



.main {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    /* border: solid 2px red; */
}

.card {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    background-color: #24262b;
    border-radius: 2px;
    /* border: solid blue 2px; */
}

.card h2, .card p, .card img, .card div {
    background-color: #24262b;

}

.card div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px;
    padding: 15px;

    /* border: solid 2px var(--bluer); */
    background-color: #32353d;
}

.card div p {
    margin-bottom: 5px;
    background-color: #32353d;

}